* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
 scroll-behavior: smooth;
  font-family: 'Roboto' bold;

}

header {
  border-bottom: 1px solid #1f29373a;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px #1f2937;
  background-color: white;
  font-family: 'Roboto' bold;
  z-index: 10000;


}

body {
  font-family: 'Roboto' bold;
}

nav {
  display: inline-block;
  align-items: center;
  font-style: "Roboto" bold;
  width: 100%;
  background-color: white;
  z-index: 10000;
}

li {
  display: inline-block;
  list-style: none;
  padding: 10px;
  z-index: 10000;

}

#cr {
  border-radius: 6px;
  padding: 3px;
  width: fit-content;
  height: fit-content;
  color: white;
  background-color: #7c2d37;
  cursor: auto;
  font-style: bold;
  z-index: 10000;

}

#contabilidade {
  color: #1f2937;
  cursor: auto;
  font-style: bold;
  z-index: 10000;

}

#parteDireita {
  color: #1f2937;
  font-size: 12pt;
  margin-right: 20px;
  cursor: pointer;
  z-index: 10000;

}

#orcamento {
  background-color: #7c2d37;
  color: white;
  border-radius: 20px;
  padding: 8px;
  font-size: 12pt;
  cursor: pointer;
  z-index: 10000;

}

#orcamento:hover{
 background-color: rgba(124, 45, 55, 0.8);
  z-index: 10000;

}

.divSuprema {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  width: 100%;
  display: inline-block;
}

#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#sobre {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#servicos {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
}

#contato {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#solicitar {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.esquerda {
  margin-left: 50px;
}

.direita {
  margin-right: 50px;
}

.home {
display: flex;
background-color: #f9fafb ;
height: 500px;
}

.home2h1{
    margin-left: 50px;
    font-size: 40pt;
    margin-top: 30px;
    margin-right: 30px;
    color: #1f2937 ;
}

.home2p{
    margin-left: 50px;
    font-size: 13pt;
    margin-top: 30px;
    margin-right: 30px;
    opacity: 80%;
    color: #6b7280 ;
    margin-bottom: 30px;
}

.imagem {
  width: 600px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #1f2937;
  justify-content: end;
  margin-right: 50px;
}

.faleConosco{
    margin-left: 50px;
    height: 10px;
    background-color: #7c2d37;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    width: 60px;
}

.faleConosco:hover{
 background-color: rgba(124, 45, 55, 0.8);

}

.conhecaServicos{
    margin-left: 5px;
    height: 10px;
    border: 1px solid #7c2d37;
    color: #7c2d37;
    border-radius: 30px;
    padding: 10px 20px;
    width: 60px;
}

.conhecaServicos:hover{
 background-color:  #f9fafb;
  color: rgba(124, 45, 55, 0.8);

}

#sobre{
    display: inline-block;
    align-items: normal;
    width: 100%;
    height: 160vh;

}

.sobreh1{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2937;
}

.sobrep1{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #6b7280;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sobrep2{
    margin-bottom: 5px;
    color: #6b7280;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.sobrep3{
    margin-left: 5px;
    margin-bottom: 5px;
    color: #6b7280;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experiencia{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.experiencia2{
    display: inline-block;
width: 100%;
}

.experiencia h2{
    margin-left: 50px;
    width: 600px;
    margin-bottom: 15px;
    color: #1f2937;
}

.experiencia p{
    width: 600px;
    margin-left: 50px;
    margin-bottom: 15px;
    color: #6b7280;
}

.imgExperiencia{
    width: 600px;
    height: 300px;
display: inline-block;
margin-right: 50px;
border-radius: 15px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 500px;

}


.card1{
    width: 400px;
    height: 250px;
    margin-left: 50px;
    border-radius: 15px;
    border: 1px solid #1f29373a;
    
}

#target{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 30px;
    background-color: rgba(124, 45, 55, 0.1);
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #7c2d37;
    font-size: 15pt;
    
}

.missao{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.missao2{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.card1:hover{
    transform: scale(105%);
  transition: 0.5s ease;
  box-shadow: 5px 5px 5px rgba(107, 114, 128, 0.4);
}

.card2{
    width: 400px;
    height: 250px;
    margin-left: 20px;
    border-radius: 15px;
    border: 1px solid #1f29373a;
    
}

#heart{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 30px;
    background-color: rgba(124, 45, 55, 0.1);
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #7c2d37;
    font-size: 15pt;

    
}


.valores{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.valores2{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.card2:hover{
  transform: scale(105%);
  transition: 0.5s ease;
  box-shadow: 5px 5px 5px rgba(107, 114, 128, 0.4);
}

.card3{
    width: 400px;
    height: 250px;
    margin-left: 20px;
    border-radius: 15px;
    border: 1px solid #1f29373a;
    
}

#award{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 30px;
    background-color: rgba(124, 45, 55, 0.1);
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #7c2d37;
    font-size: 15pt;
    
}


.valores{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.valores2{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.card3:hover{
   transform: scale(105%);
  transition: 0.5s ease;
  box-shadow: 5px 5px 5px rgba(107, 114, 128, 0.4);
}

#servicos{
    display: inline-block;
    align-items: normal;
    width: 100%;
    height: 160vh;

}

.servicosh1{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2937;
    margin-bottom: 10px;
}

.servicosp{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #6b7280;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerServicos{ /* aaa */
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: 280px;

}


.card1Servicos{
    width: 400px;
    height: 250px;
    margin-left: 50px;
    border-radius: 15px;
    border: 1px solid #1f29373a;
    background-color: white;
}

#document{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 30px;
    background-color: rgba(124, 45, 55, 0.1);
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #7c2d37;
    font-size: 15pt;
    
}

.missao{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.missao2{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.card1Servicos:hover{
   transform: scale(105%);
  transition: 0.5s ease;
  box-shadow: 5px 5px 5px rgba(107, 114, 128, 0.4);
}

.card2Servicos{
    width: 400px;
    height: 250px;
    margin-left: 20px;
    border-radius: 15px;
    border: 1px solid #1f29373a;
    background-color: white;
    
}

#calculator{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 30px;
    background-color: rgba(124, 45, 55, 0.1);
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #7c2d37;
    font-size: 15pt;

    
}


.valores{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.valores2{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.card2Servicos:hover{
   transform: scale(105%);
  transition: 0.5s ease;
  box-shadow: 5px 5px 5px rgba(107, 114, 128, 0.4);
}

.card3Servicos{
    width: 400px;
    height: 250px;
    margin-left: 20px;
    border-radius: 15px;
    border: 1px solid #1f29373a;
    background-color: white;
    
}

#graphic{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 30px;
    background-color: rgba(124, 45, 55, 0.1);
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #7c2d37;
    font-size: 15pt;
    
}


.valores{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.valores2{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.card3Servicos:hover{
   transform: scale(105%);
  transition: 0.5s ease;
  box-shadow: 5px 5px 5px rgba(107, 114, 128, 0.4);
}

.containerServicos2{ /* aaa */
    display: flex;
    width: 100%;
    height: 500px;

}


.card1Servicos1{
    width: 400px;
    height: 250px;
    margin-left: 50px;
    border-radius: 15px;
    border: 1px solid #1f29373a;
    background-color: white;
    
}

#people{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 30px;
    background-color: rgba(124, 45, 55, 0.1);
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #7c2d37;
    font-size: 15pt;
    
}

.missao{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.missao2{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.card1Servicos1:hover{
    transform: scale(105%);
  transition: 0.5s ease;
  box-shadow: 5px 5px 5px rgba(107, 114, 128, 0.4);
}

.card2Servicos2{
    width: 400px;
    height: 250px;
    margin-left: 20px;
    border-radius: 15px;
    border: 1px solid #1f29373a;
    background-color: white;
    
}

#check{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 30px;
    background-color: rgba(124, 45, 55, 0.1);
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #7c2d37;
    font-size: 15pt;

    
}


.valores{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.valores2{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.card2Servicos2:hover{
    transform: scale(105%);
  transition: 0.5s ease;
  box-shadow: 5px 5px 5px rgba(107, 114, 128, 0.4);
}

.card3Servicos3{
    width: 400px;
    height: 250px;
    margin-left: 20px;
    border-radius: 15px;
    border: 1px solid #1f29373a;
    background-color: white;
    
}

#dollar{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 30px;
    background-color: rgba(124, 45, 55, 0.1);
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #7c2d37;
    font-size: 15pt;
    
}


.valores{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.valores2{
    margin-left: 30px;
    align-items: center;
    margin-bottom: 20px;
}


.card3Servicos3:hover{
  transform: scale(105%);
  transition: 0.5s ease;
  box-shadow: 5px 5px 5px rgba(107, 114, 128, 0.4);
}
